src/minlopro-digex/main/default/flows/Auto_Assign_Minlopro_Permission_Sets_to_DigEx_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Create_PSA</name>
        <label>Create PSA</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>individualPermissionSetAssignmentRecord.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Permission_Sets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>individualPermissionSetAssignmentRecord.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>permissionSetAssignmentsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>individualPermissionSetAssignmentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Permission_Sets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the running user&apos;s profile is &apos;DigEx Partner&apos;</description>
        <name>Is_DigEx_Partner_Profile_User</name>
        <label>Is &apos;DigEx Partner&apos; Profile User?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DigEx_Profile_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DigEx Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Minlopro_Permission_Sets</targetReference>
            </connector>
            <label>DigEx Profile User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto-Assign Minlopro Permission Sets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto-Assign Minlopro Permission Sets to DigEx Users</label>
    <loops>
        <name>Loop_Through_Permission_Sets</name>
        <label>Loop Through Permission Sets</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Find_Minlopro_Permission_Sets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_PSA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Permission_Set_Assignment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Permission_Set_Assignment_Records</name>
        <label>Insert Permission Set Assignment Records</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputReference>permissionSetAssignmentsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Minlopro_Permission_Sets</name>
        <label>Find Minlopro Permission Sets</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Permission_Sets</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Minlopro_Core</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Minlopro_DigEx</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_DigEx_Partner_Profile_User</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>individualPermissionSetAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>permissionSetAssignmentsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
