src/minlopro-digex/main/flows/Minlopro_SendOptInEmailToAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendOptInEmail</name>
        <label>Send Opt-In Email</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>SendOptInEmailAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>SendErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>GetEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendOptInEmailAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Minlopro - Send Opt-In Email To Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Minlopro - Send Opt-In Email To Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmailTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEmailTemplate</name>
        <label>Get Email Template</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailPreviewScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OptInConfirmationWithLetterhead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>EmailPreviewScreen</name>
        <label>Email Preview Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SendOptInEmail</targetReference>
        </connector>
        <fields>
            <name>EmailPreviewScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EmailPreviewScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountName</name>
                    <fieldText
                        >&lt;p&gt;&lt;strong&gt;Account
                        Name:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!GetAccount.Name}&lt;/em&gt;&lt;/p&gt;</fieldText
                    >
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EmailPreviewScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountEmail</name>
                    <fieldText
                        >&lt;p&gt;&lt;strong&gt;Recipient
                        Email:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!GetAccount.PersonEmail}&lt;/em&gt;&lt;/p&gt;</fieldText
                    >
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EmailPreviewScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailTemplateName</name>
                    <fieldText
                        >&lt;p&gt;&lt;strong&gt;Email
                        Template:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!GetEmailTemplate.Name}&lt;/em&gt;&lt;/p&gt;</fieldText
                    >
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>EmailText</name>
            <fieldText
                >&lt;p&gt;&lt;strong&gt;Email Text:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetEmailTemplate.Body}&lt;/p&gt;</fieldText
            >
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Opt-In Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SendErrorScreen</name>
        <label>Send Error Screen</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText
                >&lt;p&gt;&lt;em style=&quot;color: rgb(228, 79,
                102);&quot;&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/p&gt;</fieldText
            >
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Context record ID (i.e. Account ID).</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
