src/minlopro-digex/main/flows/Minlopro_Assign_PSG_To_DigEx_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Create_PSA_Prototype</name>
        <label>Create PSA Prototype</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>permissionSetAssignmentToInsert.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>permissionSetAssignmentToInsert.PermissionSetGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Minlopro_DigEx_PSG.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_PSG_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the running user's profile is 'DigEx Partner'</description>
        <name>Is_DigEx_Partner_Profile_User</name>
        <label>Is 'DigEx Partner' Profile User?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DigEx_Profile_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DigEx Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Minlopro_DigEx_PSG</targetReference>
            </connector>
            <label>DigEx Profile User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto-Assign PSG To DigEx Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Minlopro - Auto-Assign PSG To DigEx Users</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_PSG_Assignment</name>
        <label>Insert PSG Assignment</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>permissionSetAssignmentToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Minlopro_DigEx_PSG</name>
        <label>Find Minlopro DigEx PSG</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PSA_Prototype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Minlopro_PSG_DigExUser</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_DigEx_Partner_Profile_User</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>permissionSetAssignmentToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
