src/minlopro/main/flows/Minlopro_SearchFirstAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Search_Accounts_via_HTTP_GET</name>
        <label>Search Accounts via HTTP GET</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>MinloproSearchAccount.Search Accounts</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Compute_Found_Accounts_Size</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Callout_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>q</name>
            <value>
                <elementReference>soslQuery</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MinloproSearchAccount.Search Accounts</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>foundAccounts</assignToReference>
            <name>2XX</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Compute_Found_Accounts_Size</name>
        <label>Compute Found Accounts Size</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>foundAccountsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>foundAccounts.searchRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Found_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extract_First_Found_Account</name>
        <label>Extract First Found Account</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>firstFoundAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_Found_Accounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_Found_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Query_Results_Screen</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>soslQuery</name>
        <dataType>String</dataType>
        <expression>&apos;FIND {&apos; + {!Account_Search_Keyword} + &apos;} IN NAME FIELDS RETURNING Account(Id, Name, Description) LIMIT 10&apos;</expression>
    </formulas>
    <interviewLabel>Minlopro - Search First Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Minlopro - Search First Account</label>
    <loops>
        <name>Iterate_Through_Found_Accounts</name>
        <label>Iterate Through Found Accounts</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>foundAccounts.searchRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Extract_First_Found_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Query_Results_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Callout_Error_Screen</name>
        <label>Callout Error Screen</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CalloutErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(195, 32, 32);&quot;&gt;HTTP callout failed with &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(195, 32, 32);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(195, 32, 32);&quot;&gt; error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Query_Results_Screen</name>
        <label>Query Results Screen</label>
        <locationX>176</locationX>
        <locationY>824</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Re-Enter Search Keyword</backButtonLabel>
        <fields>
            <name>NoResultsFoundText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;No Accounts were found by &apos;&lt;/em&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;{!Account_Search_Keyword}&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;&apos; search keyword. Try another one!&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>foundAccountsSize</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FirstFoundAccountInfo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!foundAccountsSize} &lt;/strong&gt;accounts were found!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;First Account Details﻿&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Id = &lt;/em&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!firstFoundAccount.Id}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Name = {!firstFoundAccount.Name}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Output Variables&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;selectedAccountId = {!selectedAccountId}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>foundAccountsSize</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Select &amp; Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Keyword_Screen</name>
        <label>Search Keyword Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Accounts_via_HTTP_GET</targetReference>
        </connector>
        <fields>
            <name>Account_Search_Keyword</name>
            <dataType>String</dataType>
            <fieldText>Account Search Keyword</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Type in keyword to search for Account(s)&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Keyword should be 2 characters at least&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Account_Search_Keyword}) &gt;= 2</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Keyword_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>firstFoundAccount</name>
        <apexClass>ExternalService__MinloproSearchAccount_Searchx20Accounts_OUT_2XX_searchRecords</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>foundAccounts</name>
        <apexClass>ExternalService__MinloproSearchAccount_Searchx20Accounts_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>foundAccountsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Output Account variable selected by running user</description>
        <name>selectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>selectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>firstFoundAccount.Id</elementReference>
        </value>
    </variables>
</Flow>
