src/minlopro/main/flows/Minlopro_SearchAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Search_Accounts_via_HTTP_GET</name>
        <label>Search Accounts via HTTP GET</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>MinloproSearchAccount.Search Accounts</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Compute_Found_Accounts_Size</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Callout_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>q</name>
            <value>
                <elementReference>soslQuery</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MinloproSearchAccount.Search Accounts</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>foundAccounts</assignToReference>
            <name>2XX</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Compute_Found_Accounts_Size</name>
        <label>Compute Found Accounts Size</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>foundAccountsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>foundAccounts.searchRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cast_Search_Results_To_Accounts</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Has_Account_Selected</name>
        <label>Has Account Selected?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Account Was Selected</defaultConnectorLabel>
        <rules>
            <name>Account_Was_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Force_Account_Selection_Screen</targetReference>
            </connector>
            <label>Account Was Not Selected</label>
        </rules>
    </decisions>
    <description>Screen Flow that searches for Account records through SOSL query.</description>
    <environments>Default</environments>
    <formulas>
        <name>soslQuery</name>
        <dataType>String</dataType>
        <expression>&apos;FIND {&apos; + {!Account_Search_Keyword} + &apos;} IN NAME FIELDS RETURNING Account(Id, Name, Description) LIMIT 10&apos;</expression>
    </formulas>
    <interviewLabel>Minlopro - Search Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Minlopro - Search Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Callout_Error_Screen</name>
        <label>Callout Error Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CalloutErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(195, 32, 32);&quot;&gt;HTTP callout failed with &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(195, 32, 32);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(195, 32, 32);&quot;&gt; error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Force_Account_Selection_Screen</name>
        <label>Force Account Selection Screen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Query_Results_Screen</targetReference>
        </connector>
        <fields>
            <name>ForceAccountSelectionText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(176, 117, 14);&quot;&gt;Looks like you forgot to choose the Account.﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(176, 117, 14);&quot;&gt;Please, go back to the previous screen and make your selection.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Query_Results_Screen</name>
        <label>Query Results Screen</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Re-Enter Search Keyword</backButtonLabel>
        <connector>
            <targetReference>Has_Account_Selected</targetReference>
        </connector>
        <fields>
            <name>NoResultsFoundText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;No Accounts were found by &apos;&lt;/em&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;{!Account_Search_Keyword}&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;&apos; search keyword. Try another one!&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>foundAccountsSize</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FoundAccountsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Found Accounts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Cast_Search_Results_To_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ffa0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-2c6b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record ID&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-5a4b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Account Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedAccount</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>foundAccountsSize</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Select &amp; Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Keyword_Screen</name>
        <label>Search Keyword Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Accounts_via_HTTP_GET</targetReference>
        </connector>
        <fields>
            <name>Account_Search_Keyword</name>
            <dataType>String</dataType>
            <fieldText>Account Search Keyword</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Type in keyword to search for Account(s)&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Keyword should be 2 characters at least&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Account_Search_Keyword}) &gt;= 2</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Keyword_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Cast_Search_Results_To_Accounts</name>
        <label>Cast Search Results To Accounts</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Query_Results_Screen</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>foundAccounts.searchRecords[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>foundAccounts.searchRecords[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>foundAccounts.searchRecords[$EachItem].Description</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>foundAccounts</name>
        <apexClass>ExternalService__MinloproSearchAccount_Searchx20Accounts_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>foundAccountsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Output Account variable selected by running user</description>
        <name>selectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
