src/minlopro/main/flows/Minlopro_CastContactsToLeads_Bulk.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Leads_via_HTTP_POST</name>
        <label>Create Leads via HTTP POST</label>
        <locationX>308</locationX>
        <locationY>674</locationY>
        <actionName>MinloproLeadsApiBulk.Create Leads</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Mark_Contacts_As_Processed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Callout_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Transform_Contacts_to_Leads</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MinloproLeadsApiBulk.Create Leads</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>httpPostResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>httpPostResponseBody</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calculate_Contacts_Count</name>
        <label>Calculate Contacts Count</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>contactsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Select_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Records_Selection_And_User_Permissions</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Verify_Records_Selection_And_User_Permissions</name>
        <label>Verify Records Selection &amp; User Permissions</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>PreviewAndConfirmationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Eligible</defaultConnectorLabel>
        <rules>
            <name>Ineligible</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contactsSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.IsLeadManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Ineligible</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Minlopro - Cast Contacts To Leads (Bulk) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Minlopro - Cast Contacts To Leads (Bulk)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Select_Contacts</name>
        <label>Select Contacts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Contacts_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCastToLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsCastToLead__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>308</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Results_Screen</targetReference>
        </connector>
        <inputReference>Mark_Contacts_As_Processed</inputReference>
    </recordUpdates>
    <screens>
        <name>Callout_Error</name>
        <label>Callout Error</label>
        <locationX>572</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CalloutErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Error occurred: &lt;/span&gt;&lt;strong style=&quot;color: rgb(176, 36, 36); font-size: 14px;&quot;&gt;&lt;em&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(176, 36, 36); font-size: 14px;&quot;&gt;{!httpPostResponseCode}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PreviewAndConfirmationScreen</name>
        <label>Preview &amp; Confirmation Screen</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transform_Contacts_to_Leads</targetReference>
        </connector>
        <fields>
            <name>InfoText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You&apos;re about to cast &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!contactsSize}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Contacts to Leads via Loopback Connected App leveraging Salesforce REST API.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactsDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contacts to Cast</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Select_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a951&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-6a6e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-9ba6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-88e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Mobile Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;IsCastToLead__c&quot;,&quot;guid&quot;:&quot;column-34b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Cast To Lead?&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Cast To Leads</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Preview</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Results_Screen</name>
        <label>Results Screen</label>
        <locationX>308</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!contactsSize}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Contacts were cast to Leads &lt;/span&gt;&lt;strong style=&quot;color: rgb(30, 154, 53); font-size: 14px;&quot;&gt;successfully&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Results</elementReference>
        </stageReference>
    </screens>
    <stages>
        <name>Preview</name>
        <isActive>true</isActive>
        <label>Preview</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Results</name>
        <isActive>false</isActive>
        <label>Results</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Mark_Contacts_As_Processed</name>
        <label>Mark Contacts As Processed</label>
        <locationX>308</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Contact</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Select_Contacts[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IsCastToLead__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Contacts_to_Leads</name>
        <label>Transform Contacts to Leads</label>
        <locationX>308</locationX>
        <locationY>566</locationY>
        <apexClass>ExternalService__MinloproLeadsApiBulk_Createx20Leads_IN_body</apexClass>
        <connector>
            <targetReference>Create_Leads_via_HTTP_POST</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>records[$EachItem].Email</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Select_Contacts[$EachItem].Email</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>records[$EachItem].FirstName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Select_Contacts[$EachItem].FirstName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>records[$EachItem].LastName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Select_Contacts[$EachItem].LastName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>records[$EachItem].Phone</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Select_Contacts[$EachItem].Phone</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>records[$EachItem].attributes.z0type</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>allOrNone</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>records[$EachItem].LeadSource</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Contact2Lead</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>records[$EachItem].Title</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Select_Contacts[$EachItem].Title</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>contactsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>httpPostResponseBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>httpPostResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Contact IDs selected from the list view</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
