src/minlopro/main/flows/Minlopro_CastContactsToLeads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Each HTTP callout is run in a separate transaction.</description>
        <name>Create_Lead_via_HTTP_POST</name>
        <label>Create Lead via HTTP POST</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <actionName>Minlopro.Create Lead</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Update_Contact_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Callout_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Transform_Contact_To_Lead_Payload</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Minlopro.Create Lead</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>httpPostResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>httpPostResponseBody</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calculate_Contacts_Count</name>
        <label>Calculate Contacts Count</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>contactsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Select_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Records_Selection_And_User_Permissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Mark records as processed</description>
        <name>Update_Contact_Fields</name>
        <label>Update Contact Fields</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Through_Contacts.IsCastToLead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>dataSyncChoiceBulk</name>
        <choiceText>Sync records in bulk (via Composite API)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>dataSyncChoiceBulk</stringValue>
        </value>
    </choices>
    <choices>
        <name>dataSyncChoiceIndividual</name>
        <choiceText>Sync records 1-by-1 (via SObject REST API)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>dataSyncChoiceIndividual</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Verify_Records_Selection_And_User_Permissions</name>
        <label>Verify Records Selection &amp; User Permissions</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>PreviewAndConfirmationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Eligible</defaultConnectorLabel>
        <rules>
            <name>Ineligible</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contactsSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.IsLeadManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen</targetReference>
            </connector>
            <label>Ineligible</label>
        </rules>
    </decisions>
    <description>Casts user-selected Contacts to Leads through standard Salesforce REST API.</description>
    <environments>Default</environments>
    <interviewLabel>Minlopro - Send Contacts To Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Minlopro - Cast Contacts To Leads</label>
    <loops>
        <name>Iterate_Through_Contacts</name>
        <label>Iterate Through Contacts</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>Select_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Transform_Contact_To_Lead_Payload</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Failed_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Select_Contacts</name>
        <label>Select Contacts</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Contacts_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCastToLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsCastToLead__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Select_Failed_Contacts</name>
        <label>Select Failed Contacts</label>
        <locationX>402</locationX>
        <locationY>1388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResultssScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCastToLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsCastToLead__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Iterate_Through_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FailedContactUpdateScreen</targetReference>
        </faultConnector>
        <inputReference>Iterate_Through_Contacts</inputReference>
    </recordUpdates>
    <screens>
        <name>Callout_Error_Screen</name>
        <label>Callout Error Screen</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Iterate_Through_Contacts</targetReference>
        </connector>
        <fields>
            <name>CalloutErrorText1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Failed to cast Contact to Lead.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;HTTP Response Status = &lt;strong style=&quot;color: rgb(208, 50, 50); background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;{!httpPostResponseCode} ({!$Flow.FaultMessage})&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lead_Payload_Header</name>
            <fieldText>Lead Payload</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Payload_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadPayloadText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: courier;&quot;&gt;{!Transform_Contact_To_Lead_Payload}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Callout_Error</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>FailedContactUpdateScreen</name>
        <label>Failed Contact Update Screen</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Iterate_Through_Contacts</targetReference>
        </connector>
        <fields>
            <name>FailedContactUpdateText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!Iterate_Through_Contacts.Name}&lt;/strong&gt; could not be marked as &apos;cast&apos; due to &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(166, 32, 32);&quot;&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PreviewAndConfirmationScreen</name>
        <label>Preview &amp; Confirmation Screen</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Iterate_Through_Contacts</targetReference>
        </connector>
        <fields>
            <name>InfoText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You&apos;re about to cast &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!contactsSize}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Contacts to Leads via Loopback Connected App leveraging Salesforce REST API.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactsDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contacts to Cast</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Select_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a951&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-6a6e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-9ba6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-88e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Mobile Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;IsCastToLead__c&quot;,&quot;guid&quot;:&quot;column-34b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Cast To Lead?&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Cast To Leads</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Preview</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>ResultssScreen</name>
        <label>Results Screen</label>
        <locationX>402</locationX>
        <locationY>1496</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResultSuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;Yaahoo! All Contacts were cast to Leads via Salesforce REST API!&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(21, 182, 75);&quot;&gt;Success&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(246, 248, 250); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Noto Sans&amp;quot;, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;; color: rgb(31, 35, 40);&quot;&gt;✅&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultsText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;Some Contact records failed to cast to Leads via Salesforce REST API. &lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(192, 32, 32); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FailedContactsDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Failed Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Select_Failed_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-62ab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-3a8d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-463b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-ad1e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Mobile Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;IsCastToLead__c&quot;,&quot;guid&quot;:&quot;column-8099&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Cast To Lead?&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Results</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Warning_Screen</name>
        <label>Warning Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuspendText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;You can&apos;t proceed: either there are no eligible Contacts selected OR you don&apos;t have necessary access level. &lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Callout_Error</name>
        <isActive>false</isActive>
        <label>Callout Error</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Preview</name>
        <isActive>true</isActive>
        <label>Preview</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Results</name>
        <isActive>false</isActive>
        <label>Results</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Contact_To_Lead_Payload</name>
        <label>Transform Contact To Lead Payload</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <apexClass>ExternalService__Minlopro_Createx20Lead_IN_body</apexClass>
        <connector>
            <targetReference>Create_Lead_via_HTTP_POST</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Email</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Iterate_Through_Contacts.Email</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>FirstName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Iterate_Through_Contacts.FirstName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>LastName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Iterate_Through_Contacts.LastName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Phone</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Iterate_Through_Contacts.Phone</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Title</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Iterate_Through_Contacts.Title</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>LeadSource</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Contact2Lead</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>contactsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>httpPostResponseBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>httpPostResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Contact IDs selected from the list view</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
