src/minlopro/main/flows/Minlopro_CreateAccountWithContacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  <apiVersion>63.0</apiVersion>
  <assignments>
    <name>Assign_To_Account</name>
    <label>Assign To Account</label>
    <locationX>264</locationX>
    <locationY>350</locationY>
    <assignmentItems>
      <assignToReference>Iterate_Through_Contacts.AccountId</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>parentAccount.Id</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>contactsToInsert</assignToReference>
      <operator>Add</operator>
      <value>
        <elementReference>Iterate_Through_Contacts</elementReference>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>Iterate_Through_Contacts</targetReference>
    </connector>
  </assignments>
  <environments>Default</environments>
  <interviewLabel>Minlopro - Create Account With Contacts {!$Flow.CurrentDateTime}</interviewLabel>
  <label>Minlopro - Create Account With Contacts</label>
  <loops>
    <name>Iterate_Through_Contacts</name>
    <label>Iterate Through Contacts</label>
    <locationX>176</locationX>
    <locationY>242</locationY>
    <collectionReference>childContacts</collectionReference>
    <iterationOrder>Asc</iterationOrder>
    <nextValueConnector>
      <targetReference>Assign_To_Account</targetReference>
    </nextValueConnector>
    <noMoreValuesConnector>
      <targetReference>Insert_Child_Contacts</targetReference>
    </noMoreValuesConnector>
  </loops>
  <processMetadataValues>
    <name>BuilderType</name>
    <value>
      <stringValue>LightningFlowBuilder</stringValue>
    </value>
  </processMetadataValues>
  <processMetadataValues>
    <name>CanvasMode</name>
    <value>
      <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
    </value>
  </processMetadataValues>
  <processMetadataValues>
    <name>OriginBuilderType</name>
    <value>
      <stringValue>LightningFlowBuilder</stringValue>
    </value>
  </processMetadataValues>
  <processType>AutoLaunchedFlow</processType>
  <recordCreates>
    <name>Insert_Child_Contacts</name>
    <label>Insert Child Contacts</label>
    <locationX>176</locationX>
    <locationY>542</locationY>
    <inputReference>contactsToInsert</inputReference>
  </recordCreates>
  <recordCreates>
    <name>Insert_Parent_Account</name>
    <label>Insert Parent Account</label>
    <locationX>176</locationX>
    <locationY>134</locationY>
    <connector>
      <targetReference>Iterate_Through_Contacts</targetReference>
    </connector>
    <inputReference>parentAccount</inputReference>
  </recordCreates>
  <runInMode>SystemModeWithoutSharing</runInMode>
  <start>
    <locationX>50</locationX>
    <locationY>0</locationY>
    <connector>
      <targetReference>Insert_Parent_Account</targetReference>
    </connector>
  </start>
  <status>Active</status>
  <variables>
    <description>Child Contact SObject records to upsert and link to parent Account.</description>
    <name>childContacts</name>
    <dataType>SObject</dataType>
    <isCollection>true</isCollection>
    <isInput>true</isInput>
    <isOutput>true</isOutput>
    <objectType>Contact</objectType>
  </variables>
  <variables>
    <name>contactsToInsert</name>
    <dataType>SObject</dataType>
    <isCollection>true</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <objectType>Contact</objectType>
  </variables>
  <variables>
    <description>Account SObject record to Upsert.</description>
    <name>parentAccount</name>
    <dataType>SObject</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>true</isOutput>
    <objectType>Account</objectType>
  </variables>
</Flow>
