src/minlopro/main/flows/Minlopro_SearchAccount_HeadlessAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Search_Accounts_via_HTTP_GET</name>
        <label>Search Accounts via HTTP GET</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MinloproSearchAccount.Search Accounts</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Cast_Search_Results_To_Account_SObjects</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Capture_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>q</name>
            <value>
                <elementReference>soslQuery</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MinloproSearchAccount.Search Accounts</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>foundAccountsAsJson</assignToReference>
            <name>2XX</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Capture_Error_Message</name>
        <label>Capture Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_Found_Accounts_Details</name>
        <label>Capture Found Accounts Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>foundAccounts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_Search_Results_To_Account_SObjects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundAccountsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>foundAccounts</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Headless auto-launched flow that searches for Account records via SOSL query.</description>
    <environments>Default</environments>
    <formulas>
        <name>soslQuery</name>
        <dataType>String</dataType>
        <expression>&apos;FIND {&apos; + {!searchKeyword} + &apos;} IN NAME FIELDS RETURNING Account(Id, Name, Description) LIMIT 10&apos;</expression>
    </formulas>
    <interviewLabel>Minlopro - Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Minlopro - Search Account (Headless Action)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Accounts_via_HTTP_GET</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Cast_Search_Results_To_Account_SObjects</name>
        <label>Cast Search Results To Account SObjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Capture_Found_Accounts_Details</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Description</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>foundAccountsAsJson.searchRecords[$EachItem].Description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>foundAccountsAsJson.searchRecords[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>foundAccountsAsJson.searchRecords[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>foundAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>foundAccountsAsJson</name>
        <apexClass>ExternalService__MinloproSearchAccount_Searchx20Accounts_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>foundAccountsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>searchKeyword</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>John</stringValue>
        </value>
    </variables>
</Flow>
