src/minlopro/main/flows/login/Minlopro_DefaultLoginFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AssignForceLogout</name>
        <label>Assign Force Logout</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Customizes login experience for Minlopro users.</description>
    <environments>Default</environments>
    <interviewLabel>Minlopro - Default Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Minlopro - Default Login Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRunningUser</name>
        <label>Get Running User</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserDetailsScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UnknownUserScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>UnknownUserScreen</name>
        <label>Unknown User Screen</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignForceLogout</targetReference>
        </connector>
        <fields>
            <name>HelpText</name>
            <fieldText
                >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(199, 74,
                16);&quot;&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align:
                center;&quot;&gt;&lt;em&gt;Force logout...&lt;/em&gt;&lt;/p&gt;</fieldText
            >
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Force Logout</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UserDetailsScreen</name>
        <label>User Details Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowInputVariables</name>
            <fieldText>Flow Input Variables</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FlowInputVariables_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LoginType</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LoginFlow_LoginType</elementReference>
                    </defaultValue>
                    <fieldText>Login Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LoginSubType</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LoginFlow_LoginSubType</elementReference>
                    </defaultValue>
                    <fieldText>Login SubType</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IpAddress</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LoginFlow_IpAddress</elementReference>
                    </defaultValue>
                    <fieldText>IP Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Community</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LoginFlow_Community</elementReference>
                    </defaultValue>
                    <fieldText>Community</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SessionLevel</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LoginFlow_SessionLevel</elementReference>
                    </defaultValue>
                    <fieldText>Session Level</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FlowInputVariables_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UserAgent</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LoginFlow_UserAgent</elementReference>
                    </defaultValue>
                    <fieldText>User Agent</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Platform</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LoginFlow_Platform</elementReference>
                    </defaultValue>
                    <fieldText>Platform</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Application</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LoginFlow_Application</elementReference>
                    </defaultValue>
                    <fieldText>Application</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>UserId</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LoginFlow_UserId</elementReference>
                    </defaultValue>
                    <fieldText>User ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>UserInfo</name>
            <fieldText>User Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UserInfo_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetRunningUser.Name</elementReference>
                    </defaultValue>
                    <fieldText>Full Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UserInfo_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Username</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetRunningUser.Username</elementReference>
                    </defaultValue>
                    <fieldText>Username</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>FlowOutputVariables</name>
            <fieldText>Flow Output Variables</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FlowOutputVariables_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinishLocation</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LoginFlow_FinishLocation</elementReference>
                    </defaultValue>
                    <fieldText>Finish Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ForceLogout</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>LoginFlow_ForceLogout</elementReference>
                    </defaultValue>
                    <fieldText>Force Logout?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FlowOutputVariables_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Take me to Minlopro!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRunningUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoginFlow_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable determines where to send the user when the flow is completed.</description>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>/lightning/o/Account/list?filterName=__Recent</stringValue>
        </value>
    </variables>
    <variables>
        <description>When this variable is set to TRUE, the user is immediately logged out.</description>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_IpAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_SessionLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
