src/minlopro/main/flows/record-triggered/Minlopro_Opportunity_AfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Opportunity_Owner</name>
        <label>Alert Opportunity Owner</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>autocloseOppNotificationRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>autocloseOppNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>autocloseOppNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Recipient_IDs</name>
        <label>Collect Recipient IDs</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>autocloseOppNotificationRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alert_Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Opportunity_Already_Closed_1</name>
        <label>Is Opportunity Already Closed?</label>
        <locationX>110</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Notification_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default Outcome)</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Already_Closed_2</name>
        <label>Is Opportunity Already Closed?</label>
        <locationX>638</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Close_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default Outcome)</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>RTF for Opportunity object that handles AFTER INSERT and/or UPDATE phases along with scheduled paths.</description>
    <environments>Default</environments>
    <formulas>
        <name>autocloseOppNotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Your opportunity will be closed soon.&apos;</expression>
    </formulas>
    <formulas>
        <name>autocloseOppNotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Upcoming Opportunity Auto-Closure&apos;</expression>
    </formulas>
    <interviewLabel>Minlopro - Opportunity - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Minlopro - Opportunity - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Recipient_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Minlopro</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Opportunity</name>
        <label>Close Opportunity</label>
        <locationX>770</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Auto-Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Alert_Upcoming_Autoclose</name>
            <connector>
                <targetReference>Is_Opportunity_Already_Closed_1</targetReference>
            </connector>
            <label>Alert Upcoming Autoclose</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CloseDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Autoclose_Opportunity</name>
            <connector>
                <targetReference>Is_Opportunity_Already_Closed_2</targetReference>
            </connector>
            <label>Autoclose Opportunity</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CloseDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>autocloseOppNotificationRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
