src/minlopro/main/flows/record-triggered/Minlopro_User_AfterCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_PSA_Prototype</name>
        <label>Create PSA Prototype</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>digExUserPsa.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digExUserPsa.PermissionSetGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Minlopro_DigEx_PSG.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_PSA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_User_Profile</name>
        <label>Check User Profile</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DigEx_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DigEx Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Minlopro_DigEx_PSG</targetReference>
            </connector>
            <label>DigEx Partner</label>
        </rules>
    </decisions>
    <description>RTF for User object that handles AFTER INSERT phase along with Async path.</description>
    <environments>Default</environments>
    <interviewLabel>Minlopro - User - After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Minlopro - User - After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_PSA</name>
        <label>Insert PSA</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <inputReference>digExUserPsa</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Minlopro_DigEx_PSG</name>
        <label>Find Minlopro DigEx PSG</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PSA_Prototype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Minlopro_PSG_DigExUser</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_User_Profile</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Permission Set Assignment record for newly created DigEx user.</description>
        <name>digExUserPsa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
