src/minlopro-digex-messaging/main/flows/Minlopro_MessagesRoutedToAgentsAndQueues.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  <actionCalls>
    <name>RouteToQueue</name>
    <label>Route To Queue</label>
    <locationX>176</locationX>
    <locationY>242</locationY>
    <actionName>routeWork</actionName>
    <actionType>routeWork</actionType>
    <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    <inputParameters>
      <name>recordId</name>
      <value>
        <elementReference>recordId</elementReference>
      </value>
    </inputParameters>
    <inputParameters>
      <name>serviceChannelId</name>
      <value>
        <stringValue>${SF_MESSAGING_SERVICE_CHANNEL_ID}</stringValue>
      </value>
    </inputParameters>
    <inputParameters>
      <name>serviceChannelLabel</name>
      <value>
        <stringValue>Messaging</stringValue>
      </value>
    </inputParameters>
    <inputParameters>
      <name>serviceChannelDevName</name>
      <value>
        <stringValue>sfdc_livemessage</stringValue>
      </value>
    </inputParameters>
    <inputParameters>
      <name>routingType</name>
      <value>
        <stringValue>QueueBased</stringValue>
      </value>
    </inputParameters>
    <inputParameters>
      <name>routingConfigId</name>
    </inputParameters>
    <inputParameters>
      <name>routingConfigLabel</name>
    </inputParameters>
    <inputParameters>
      <name>queueId</name>
      <value>
        <elementReference>GetDigExOmniQueue.Id</elementReference>
      </value>
    </inputParameters>
    <inputParameters>
      <name>agentId</name>
    </inputParameters>
    <inputParameters>
      <name>agentLabel</name>
    </inputParameters>
    <inputParameters>
      <name>queueLabel</name>
    </inputParameters>
    <inputParameters>
      <name>skillOption</name>
    </inputParameters>
    <inputParameters>
      <name>skillRequirementsResourceItem</name>
    </inputParameters>
    <inputParameters>
      <name>botId</name>
    </inputParameters>
    <inputParameters>
      <name>botLabel</name>
    </inputParameters>
    <inputParameters>
      <name>copilotId</name>
    </inputParameters>
    <inputParameters>
      <name>copilotLabel</name>
    </inputParameters>
    <inputParameters>
      <name>isQueueVariable</name>
      <value>
        <booleanValue>true</booleanValue>
      </value>
    </inputParameters>
    <nameSegment>routeWork</nameSegment>
    <offset>0</offset>
  </actionCalls>
  <apiVersion>63.0</apiVersion>
  <description>Routes each message to an agent or queue based on conditions that you define.</description>
  <environments>Default</environments>
  <interviewLabel>Minlopro - Messages Routed to Agents and Queues {!$Flow.CurrentDateTime}</interviewLabel>
  <label>Minlopro - Messages Routed to Agents and Queues</label>
  <processMetadataValues>
    <name>BuilderType</name>
    <value>
      <stringValue>LightningFlowBuilder</stringValue>
    </value>
  </processMetadataValues>
  <processMetadataValues>
    <name>CanvasMode</name>
    <value>
      <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
    </value>
  </processMetadataValues>
  <processType>RoutingFlow</processType>
  <recordLookups>
    <description>DeveloperName='Minlopro_DigExMessagingRequests'</description>
    <name>GetDigExOmniQueue</name>
    <label>Get DigEx Omni Queue</label>
    <locationX>176</locationX>
    <locationY>134</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>RouteToQueue</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Type</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue>Queue</stringValue>
      </value>
    </filters>
    <filters>
      <field>DeveloperName</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue>Minlopro_DigExMessagingRequests</stringValue>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>Group</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <runInMode>DefaultMode</runInMode>
  <sourceTemplate>omnichannel_messaging__MsgRouting</sourceTemplate>
  <start>
    <locationX>50</locationX>
    <locationY>0</locationY>
    <connector>
      <targetReference>GetDigExOmniQueue</targetReference>
    </connector>
  </start>
  <status>Active</status>
  <variables>
    <description>The messaging session record that is being inputted into the flow. Necessary for the flow to run.</description>
    <name>input_record</name>
    <dataType>SObject</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
    <objectType>MessagingSession</objectType>
  </variables>
  <variables>
    <description>The ID of the record being inputted into the flow. Necessary for the flow to run. It's a
            'MessagingSession' record ID.</description>
    <name>recordId</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
  </variables>
</Flow>
